extends ../layout
block content
  h5 Login
  form(action='/auth/login', method='post')
    p
      input(type='text', name='username', placeholder='username')
    p
      input(type='password', name='password', placeholder='password')
    p
      input(type='submit')
  ul
    li
      a(href='/auth/facebook') facebook
    li
      a(href='/auth/kakao') kakaotalk
